doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title WS Voice Chat

  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')
  link(rel='stylesheet', href='/styles.css')

  script(defer, src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
  script(defer, src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
  script(defer, src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')

  script(defer, src='https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js')
  script(defer, src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')

body
  .container.mt-5
    p #[strong User ID]:
      span.pl-1#userIdText
    - id = 'vc_1';
    each channel in guild.channels
      a.text-muted(onclick='setChannel("' + channel.id + '")')
        i.fas.fa-volume-up
        span.pl-2 Voice Channel [#{channel.id}]
        ul(id=id)
          each member in channel.members
            li(id=member.id)
              img(src=member.avatarURL)
              span.pl-1 #{member.username}
      a#leaveButton.btn.btn-danger.disabled(onclick='setChannel()') Leave

    p.mt-5 Talk to other users. Each time you refresh a new user is generated.
    a(href='https://github.com/theADAMJR/discord-voice-chat') View on GitHub

  script(defer, src='/audio.js')
  script(defer, src='/voice.js')
  script(defer).
    let userId = new Date().getTime().toString();
    document.querySelector('#userIdText').textContent = userId;